<div class="login-container bg-dark">
  <h1>Connexion</h1>

  <form (ngSubmit)="seConnecter()" class="bg-dark text-white">
    <label for="login">Utilisateur</label>

    <select
      class="bg-dark text-white"
      id="login"
      name="login"
      [(ngModel)]="login"
      required
      [disabled]="chargement()"
    >
      <option value="" class="bg-dark text-white">Sélectionnez votre nom</option>

      @for (nom of logins(); track $index) {
        <option [value]="nom" class="bg-dark text-white">{{ nom }}</option>
      }
    </select>

    <label for="password">Mot de passe</label>

    <input
      id="password"
      name="password"
      type="password"
      [(ngModel)]="password"
      autocomplete="current-password"
      required
      [disabled]="chargement()"
      class="bg-dark text-white"
    />

    <button type="submit" [disabled]="chargement()">
      @if (chargement()) {
        <span class="spinner"></span>
        Vérification en cours...
      } @else {
        Se connecter
      }
    </button>
  </form>

  @if (message()) {
    <p>{{ message() }}</p>
  }
</div>
