.navbar .navbar-nav .nav-link.active {
  color: #ffffff !important;
}

.navbar .navbar-nav .nav-link:not(.active) {
  color: #d3d3d3 !important;
}

.navbar .navbar-text {
  color: rgb(255, 251, 0);
  font-weight: 600;
}

.navbar-association {
  background-color: #c00000;
}

.navbar .navbar-nav .commande-navbar {
  width: 150px;
  color: #d3d3d3 !important;
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav .commande-navbar:not(.active):hover {
  color: rgb(55, 59, 69) !important;
  background-color: white !important;
  border-color: white !important;
}
