<div class="container-fluid py-1 fs-5">
  <div class="row mb-3">
    <div class="col-12">
      <div class="d-flex flex-wrap align-items-end gap-2">
        <app-recherche-contact
          inputId="rechercheDonneur"
          (searchError)="gererErreurRecherche($event)"
          (contactSelected)="selectionnerDonneur($event.IdContact)"
        />

        <div class="d-flex flex-wrap align-items-center gap-2 fs-5">
          <button
            type="button"
            class="btn btn-primary ms-2"
            [disabled]="modeEdition || enregistrementEnCours"
            (click)="nouveauDonneur()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-custom-class="tooltip-sombre"
            title="Pour ajouter un nouveau donneur
si non trouvé dans la recherche"
          >
            Nouveau donneur
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            [disabled]="!donneur || modeEdition"
            (click)="modifier()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-custom-class="tooltip-sombre"
            title="Pour modifier un donneur
après recherche"
          >
            Modifier donneur
          </button>

          @if (peutSupprimerDonneur()) {
            <button
              type="button"
              class="btn btn-danger"
              [disabled]="enregistrementEnCours"
              (click)="supprimerDonneur()"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-custom-class="tooltip-sombre"
              title="Pour supprimer un  donneur
ATTENTION : cette action est irréversible"
            >
              Supprimer donneur
            </button>
          }

          <button
            type="button"
            class="btn btn-success"
            [disabled]="!modeEdition || enregistrementEnCours"
            (click)="enregistrer()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-custom-class="tooltip-sombre"
            title="Pour enregistrer les modifications 
apportées au donneur"
          >
            @if (enregistrementEnCours) {
              <span class="spinner-border spinner-border-sm me-1" aria-hidden="true"> </span>
            }

            Enregistrer donneur
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            [disabled]="!modeEdition || enregistrementEnCours"
            (click)="annuler()"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-custom-class="tooltip-sombre"
            title="Pour annuler les modifications 
apportées au donneur"
          >
            Annuler modifs
          </button>
        </div>
      </div>
    </div>
  </div>

  @if (erreur) {
    <div class="alert alert-danger py-1 mb-2">
      {{ erreur }}
    </div>
  }

  @if (succes) {
    <div class="alert alert-success py-1 mb-2">
      {{ succes }}
    </div>
  }

  <div class="row g-2 fs-5">
    <!-- ÉTAT CIVIL -->

    <div class="col-md-8">
      <div class="card h-100">
        <div class="card-header py-1 fw-bold">État civil</div>

        @if (donneur) {
          <div class="card-body py-2">
            <div class="row g-2">
              <div class="col-md-2">
                <label class="form-label mb-1"> Civilité </label>

                <select
                  class="form-select form-select-sm"
                  [(ngModel)]="donneur.Civilite"
                  [disabled]="!modeEdition"
                  [class.bg-success-subtle]="modeEdition"
                >
                  <option value="Mme">Mme</option>
                  <option value="Mr">Mr</option>
                  <option value="Dr">Dr</option>
                  <option value="Pr">Pr</option>
                </select>
              </div>

              <div class="col-md-4">
                <label class="form-label mb-1"> Nom d'usage </label>

                <input
                  type="text"
                  class="form-control form-control-sm"
                  [ngModel]="donneur.NomUsage"
                  (ngModelChange)="donneur.NomUsage = $event"
                  [disabled]="!modeEdition"
                  [class.bg-success-subtle]="modeEdition"
                />
              </div>

              @if (donneur.Sexe === 'F') {
                <div class="col-md-4">
                  <label class="form-label mb-1"> Nom de naissance </label>

                  <input
                    type="text"
                    class="form-control form-control-sm"
                    [ngModel]="donneur.NomdeNaissance"
                    (ngModelChange)="donneur.NomdeNaissance = $event"
                    [disabled]="!modeEdition"
                    [class.bg-success-subtle]="modeEdition"
                  />
                </div>
              } @else {
                <div class="col-md-4"></div>
              }

              <div class="col-md-2">
                <label class="form-label mb-1 d-block text-center"> IdContact </label>

                <input
                  type="text"
                  class="form-control form-control-sm id-contact mx-auto"
                  style="width: 80px"
                  [value]="donneur.IdContact || 'À attribuer'"
                  readonly
                  tabindex="-1"
                />
              </div>

              <div class="col-md-4">
                <label class="form-label mb-1"> Prénom </label>

                <input
                  type="text"
                  class="form-control form-control-sm"
                  [ngModel]="donneur.Prenom"
                  (ngModelChange)="donneur.Prenom = $event"
                  [disabled]="!modeEdition"
                  [class.bg-success-subtle]="modeEdition"
                />
              </div>

              <div class="col-md-2">
                <label class="form-label mb-1"> Sexe </label>

                <select
                  class="form-select form-select-sm"
                  [(ngModel)]="donneur.Sexe"
                  [disabled]="!modeEdition"
                  [class.bg-success-subtle]="modeEdition"
                >
                  <option value="F">F</option>
                  <option value="M">M</option>
                </select>
              </div>

              <div class="col-md-3">
                <label class="form-label mb-1"> Date de naissance </label>

                <input
                  type="date"
                  class="form-control form-control-sm"
                  [ngModel]="donneur.DateNaissance"
                  (ngModelChange)="modifierDateNaissance($event)"
                  [disabled]="!modeEdition"
                  [class.bg-success-subtle]="modeEdition"
                />
              </div>

              <div class="col-md-3">
                <label class="form-label mb-1"> Âge à la collecte </label>

                <input
                  type="text"
                  class="form-control form-control-sm text-center"
                  [value]="age"
                  disabled
                />
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <!-- ÉTAT / STATUT -->

    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-header py-1 fw-bold">État / Statut</div>

        @if (donneur) {
          <div class="card-body py-2">
            <div class="form-check mb-1 etat-statut-check">
              <input
                id="actif"
                type="checkbox"
                class="form-check-input"
                [ngModel]="donneur.Actif"
                (ngModelChange)="donneur.Actif = $event"
                [disabled]="!modeEdition"
              />

              <label for="actif" class="form-check-label"> Actif </label>
            </div>

            <div class="form-check mb-1 etat-statut-check">
              <input
                id="primoDon"
                type="checkbox"
                class="form-check-input"
                [ngModel]="donneur.PrimoDon"
                (ngModelChange)="donneur.PrimoDon = $event"
                [disabled]="!modeEdition"
              />

              <label for="primoDon" class="form-check-label"> Primo-don </label>
            </div>

            <div class="form-check mb-1 etat-statut-check">
              <input
                id="volontairePlasma"
                type="checkbox"
                class="form-check-input"
                [ngModel]="donneur.VolontairePlasma"
                (ngModelChange)="donneur.VolontairePlasma = $event"
                [disabled]="!modeEdition"
              />

              <label for="volontairePlasma" class="form-check-label"> Volontaire plasma </label>
            </div>

            <div class="form-check mb-1 etat-statut-check">
              <input
                id="nePeutVeutPlusDonner"
                type="checkbox"
                class="form-check-input"
                [ngModel]="donneur.NePeutVeutPlusDonner"
                (ngModelChange)="donneur.NePeutVeutPlusDonner = $event"
                [disabled]="!modeEdition"
              />

              <label for="nePeutVeutPlusDonner" class="form-check-label">
                Ne peut/veut plus donner
              </label>
            </div>

            <div class="form-check mb-1 etat-statut-check">
              <input
                id="estDecede"
                type="checkbox"
                class="form-check-input"
                [ngModel]="donneur.EstDecede"
                (ngModelChange)="donneur.EstDecede = $event"
                [disabled]="!modeEdition"
              />

              <label for="estDecede" class="form-check-label"> Décédé </label>
            </div>
          </div>
        }
      </div>
    </div>

    <!-- COORDONNÉES -->

    <div class="col-md-8">
      <div class="card h-100">
        <div class="card-header py-1 fw-bold">Coordonnées</div>

        <div class="card-body py-2">
          <div class="row g-2">
            <div class="col-md-6">
              <label class="form-label mb-1"> Adresse </label>

              <input
                type="text"
                class="form-control form-control-sm"
                [ngModel]="adresse?.Adresse1"
                (ngModelChange)="adresse && (adresse.Adresse1 = $event)"
                [disabled]="!modeEdition"
                [class.bg-success-subtle]="modeEdition"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label mb-1"> Complément d'adresse </label>

              <input
                type="text"
                class="form-control form-control-sm"
                [ngModel]="adresse?.Adresse2"
                (ngModelChange)="adresse && (adresse.Adresse2 = $event)"
                [disabled]="!modeEdition"
                [class.bg-success-subtle]="modeEdition"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label mb-1"> Code postal </label>

              <input
                type="text"
                class="form-control form-control-sm"
                [ngModel]="
                  modeEdition
                    ? (adresse?.CodePostal ?? '')
                    : formaterCodePostal(adresse?.CodePostal)
                "
                (ngModelChange)="modifierCodePostal($event)"
                [disabled]="!modeEdition"
                [class.bg-success-subtle]="modeEdition"
              />
            </div>

            <div class="col-md-5">
              <label class="form-label mb-1"> Commune </label>

              <input
                type="text"
                class="form-control form-control-sm"
                [ngModel]="adresse?.Commune ?? ''"
                (ngModelChange)="modifierCommune($event)"
                [disabled]="!modeEdition"
                [class.bg-success-subtle]="modeEdition"
              />
            </div>

            <div class="col-md-4">
              <label class="form-label mb-1"> Pays </label>

              <select
                class="form-select form-select-sm"
                [ngModel]="adresse?.IdPays"
                (ngModelChange)="modifierPays($event)"
                [disabled]="!modeEdition"
                [class.bg-success-subtle]="modeEdition"
              >
                <option [ngValue]="null">Choisir un pays</option>
                @for (paysDisponible of paysDisponibles; track paysDisponible.IdPays) {
                  <option [ngValue]="paysDisponible.IdPays">
                    {{ paysDisponible.NomPays }}
                  </option>
                }
              </select>
            </div>

            <div class="col-12">
              <label class="form-label mb-1"> Commentaire </label>

              <textarea
                class="form-control form-control-sm"
                rows="2"
                [ngModel]="adresse?.Commentaire"
                (ngModelChange)="adresse && (adresse.Commentaire = $event)"
                [disabled]="!modeEdition"
                [class.bg-success-subtle]="modeEdition"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MOYENS DE CONTACT -->

    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-header py-1 fw-bold">Moyens de contact</div>

        <div class="card-body py-2">
          <div class="mb-2">
            <label class="form-label mb-1 fs-4">
              <i class="bi bi-telephone"></i>
            </label>

            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="telephonePortable"
              [disabled]="!modeEdition"
              [class.bg-success-subtle]="modeEdition"
            />
          </div>

          <div>
            <label class="form-label mb-1 fs-4">
              <i class="bi bi-envelope"></i>
            </label>

            <input
              type="email"
              class="form-control form-control-sm"
              [(ngModel)]="email"
              [disabled]="!modeEdition"
              [class.bg-success-subtle]="modeEdition"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- ÉLIGIBILITÉ -->

    <div class="col-12">
      <div class="card">
        <div class="card-header py-1 fw-bold">
          Éligibilité à la collecte

          @if (selection) {
            du {{ afficherDate(selection.DateCollecte) }} (N° {{ selection.NumCollecte }} /
            {{ selection.annee }})
          }

          <span
            class="ms-3 px-2 py-1 rounded border border-2 fs-5 fw-bold"
            [class.text-success]="eligible"
            [class.border-success]="eligible"
            [class.bg-success-subtle]="eligible"
            [class.text-danger]="!eligible"
            [class.border-danger]="!eligible"
            [class.bg-danger-subtle]="!eligible"
          >
            @if (eligible) {
              ✓ PEUT DONNER
            } @else {
              ✕ NE PEUT PAS DONNER
            }
          </span>
        </div>

        <div class="card-body py-2">
          <div class="row g-2">
            <div class="col-md-3">
              <!--<label class="form-label mb-1"> Âge </label> -->

              <input
                type="text"
                class="form-control form-control-sm"
                [value]="'Âge à la collecte : ' + ' ' + age"
                disabled
              />
            </div>

            <div class="col-md-3">
              <!--<label class="form-label mb-1"> Dernier don </label>-->

              <input
                type="text"
                class="form-control form-control-sm"
                [value]="
                  dernierDon ? 'Date du dernier don connu : ' + afficherDate(dernierDon) : 'Aucun'
                "
                disabled
              />
            </div>

            <div class="col-md-3">
              <!--<label class="form-label mb-1"> Délai depuis le dernier don </label>-->

              <input
                type="text"
                class="form-control form-control-sm"
                [value]="'Délai depuis le dernier don : ' + delaiDernierDon"
                disabled
              />
            </div>

            <div class="col-md-3">
              <!--<label class="form-label mb-1"> Dons dans les 365 derniers jours </label>-->

              <input
                type="text"
                class="form-control form-control-sm"
                [value]="'Nb de dons connus dans les 365 derniers jours : ' + nombreDons365"
                disabled
              />
            </div>
          </div>

          <div class="row g-2 mt-1 align-items-stretch">
            <div class="col-md-3">
              <div
                class="border border-3 rounded p-1 h-60"
                [class.border-success]="ageOK"
                [class.border-danger]="!ageOK"
              >
                <strong> Âge </strong>

                <span class="ms-2">
                  @if (ageOK) {
                    <span class="text-success fs-5 fw-bold"> ✓ </span>
                  } @else {
                    <span class="text-danger fs-5 fw-bold"> ✕ </span>
                  }
                </span>
              </div>
            </div>

            <div class="col-md-3"></div>

            <div class="col-md-3">
              <div
                class="border border-3 rounded p-1 h-60"
                [class.border-success]="delaiDernierDonOK"
                [class.border-danger]="!delaiDernierDonOK"
              >
                <strong> Délai mini entre 2 dons (56 jours) </strong>

                <span class="ms-2">
                  @if (delaiDernierDonOK) {
                    <span class="text-success fs-5 fw-bold"> ✓ </span>
                  } @else {
                    <span class="text-danger fs-5 fw-bold"> ✕ </span>
                  }
                </span>
              </div>
            </div>

            <div class="col-md-3">
              <div
                class="border border-3 rounded p-1 h-60"
                [class.border-success]="nombreDons365OK"
                [class.border-danger]="!nombreDons365OK"
              >
                <strong>
                  Maximum
                  {{ donneur?.Sexe === 'M' ? 6 : 4 }}
                  dons / 365 jours
                </strong>

                <span class="ms-2">
                  @if (nombreDons365OK) {
                    <span class="text-success fs-5 fw-bold"> ✓ </span>
                  } @else {
                    <span class="text-danger fs-5 fw-bold"> ✕ </span>
                  }
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
